.App {
  text-align: center !important;
  margin-top: 50px !important;
  font-family: Arial, sans-serif !important;
}

.App button {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 10px;
  background-color: green;
  border-radius: 4px;
}