body .App {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

.mi-boton {
  background-color: green;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 0; /* Si quieres quitar lo global */
  border: none;
  cursor: pointer; /* O el estilo que prefieras */
}